* {
    background:     #1E1E2E;
    background-alt: #45475A;
    foreground:     #CDD6F4;
    active:         #89B4FA;
    selected:         #89B4FA;
    urgent:         #F38BA8;
    font: "NotoSans Nerd Font 13";
}
