[user]
    name = Mark Asena
    email = mac@mkra.dev
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
