
configuration{
    modi: "drun,run,window,emoji,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 󰕰  Window";
    display-Network: " 󰤨  Network";
    display-combi: " 🖥️  All ";
    display-emoji: " 😁 Emoji";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
