#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on changes
watch_file flake.nix
watch_file flake.lock
watch_dir modules
watch_dir pkgs
watch_dir ../config

use flake
