/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #55307f !important;
  --toolbarbutton-icon-fill: #cba6f7 !important;
  --toolbar-field-color: #cdd6f4 !important;
  --tab-selected-textcolor: #cba6f7 !important;
  --toolbar-color: #cdd6f4 !important;
  --arrowpanel-color: #cdd6f4 !important;
  --arrowpanel-background: #1e1e2e !important;
  --sidebar-text-color: #cdd6f4 !important;
  --zen-main-browser-background: #1e1e2e !important;
  --zen-main-browser-background-toolbar: #1e1e2e !important;
}

#zen-browser-background {
  --zen-main-browser-background: #1e1e2e !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #1e1e2e !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1e1e2e !important;
}

#zen-workspaces-button {
  background-color: #1e1e2e !important;
}

#TabsToolbar {
  background-color: #1e1e2e !important;
}

.urlbar-background {
  background-color: #1e1e2e !important;
}

.urlbar-input::selection {
  color: #1e1e2e !important;
  background-color: #cba6f7 !important;
}

.urlbarView-url {
  color: #a6adc8 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #cba6f7
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #d8b7ff !important;
  --identity-icon-color: #d8b7ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #cba6f7 !important;
  --identity-icon-color: #cba6f7 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffba !important;
  --identity-icon-color: #a5ffba !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe8a5 !important;
  --identity-icon-color: #ffe8a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffdb72 !important;
  --identity-icon-color: #ffdb72 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb1 !important;
  --identity-icon-color: #ff9fb1 !important;
}

.identity-color-pink {
  --identity-tab-color: #dfc4ff !important;
  --identity-icon-color: #dfc4ff !important;
}

.identity-color-purple {
  --identity-tab-color: #55307f !important;
  --identity-icon-color: #55307f !important;
}

#zen-appcontent-navbar-container {
  background-color: #1e1e2e !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #cba6f7 !important;
  color: #cba6f7 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #cba6f7 !important;
  color: #cba6f7 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #cba6f7 !important;
}
